.jumbotron{
  width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding:10px;
}
.table{
  margin-top:20px;
}
.form-control{
  margin-top:5px;
}
.selecionado{
  background-color: yellow;
}
.grifado{
  font-weight: bold;
}
